@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  @font-face {
    font-family: "CW BR Firma";
    src: url("/src/assets/fonts/br-firma/BRFirmaCW-Light.woff2") format("woff2");
    font-weight: 200;
    font-display: fallback;
    font-style: normal
  }

  @font-face {
      font-family: "CW BR Firma";
      src: url("/src/assets/fonts/br-firma/BRFirmaCW-Regular.woff2") format("woff2");
      font-weight: 400;
      font-display: fallback;
      font-style: normal
  }

  @font-face {
      font-family: "CW BR Firma";
      src: url("/src/assets/fonts/br-firma/BRFirmaCW-Medium.woff2") format("woff2");
      font-weight: 500;
      font-display: fallback;
      font-style: normal
  }

  @font-face {
      font-family: "CW BR Firma";
      src: url("/src/assets/fonts/br-firma/BRFirmaCW-SemiBold.woff2") format("woff2");
      font-weight: 600;
      font-display: fallback;
      font-style: normal
  }

  @font-face {
      font-family: "CW BR Firma";
      src: url("/src/assets/fonts/br-firma/BRFirmaCW-Bold.woff2") format("woff2");
      font-weight: 700;
      font-display: fallback;
      font-style: normal
  }


  :root {
    --color-dark-blue: rgb(8 37 82);
    --color-light-gray: rgb(108 130 163);  
    --color-sky-blue: rgb(230, 250, 255);  
    --color-gray-opacity: rgba(100, 116, 139, 1);
    --background-color-opacity: hsla(0,0%,100%,.7);
    font-size: 10px;
    font-family: sans-serif;
    line-height: 1.15;
    scroll-behavior: smooth;
  }

  h1,h2,h3,h4,h5,h6,li,p,a,span,blockquote {
    color: var(--color-dark-blue);
    font-family: "CW BR Firma";
  }

  .container {
    max-width: 1380px !important;
  }

  sub, sup {
    line-height: 0;
  }

}



@layer components {

  header {
    @apply h-28 bg-white
  }

  .default-header .container {
    @apply h-full w-full my-0 mx-auto px-8
  }





  /* Animations CSS */
  .sticky-header {
    @apply fixed top-0 z-50 w-full animate-slideDown shadow-sm
  }
  .no-scrollbar {    
    @apply overflow-x-hidden overflow-y-scroll
  }
  .s-1-anim {
    @apply animate-easeIn
  }
  .s-2-l2-anim {
    @apply animate-slideRight
  }
  .s-2-ls-anim {
    @apply animate-slideUpSpan 
  }
  .s-2-l5-animreverse {
    @apply animate-slideLeft
  }
  .s-2-rc-1 {
    @apply animate-slideDown 
  }
  .s-2-rc-2 {
    @apply animate-slideDown 
  }
  .s-2-rc-3 {
    @apply animate-slideDown 
  }
  .s-4-anim {
    @apply animate-fade
  }
  /* Animations CSS */
  

  


  header .cta-menu {
    @apply inline-flex
  }

  .nav-links {
     @apply inline-flex justify-start space-x-20 cursor-pointer z-10
  }
  
  .has-dropdown {
    @apply py-10  
  }

  .menu-item .nav-dropdown {
    @apply hidden
  }

  .menu-item:hover .nav-dropdown {
    @apply flex animate-dropdown
  }
  
  .menu-item p {
    @apply relative text-2xl font-normal text-slate-500
  }

  .menu-item p::after {
    @apply content-[''] bg-dropdown-icon h-6 w-6 ml-1 absolute top-21 text-slate-800/50
  }  

  .nav-dropdown-item svg {
    @apply w-20 h-20
  }

  .nav-dropdown-item div span {
    @apply text-start text-3xl/more-loose font-semibold
  }

  .nav-dropdown-item p {
    @apply text-15xl font-normal
  }

  .nav-dropdown-item p::after {
    @apply bg-none
  }

  .nav-dropdown-item a {
    @apply text-15xl text-light-gray
  }

  .nav-dropdown-item li {
    @apply leading-extra-loose
  }

  .nav-dropdown--right h6 {
    @apply text-14xl/more-loose font-semibold mb-6 text-start
  }

  header .cta-menu a {
    @apply text-blue-600 text-2xl font-bold capitalize
  }

  header .cta-menu a:last-child {
    @apply text-2xl text-white bg-blue-600 px-9 py-5 rounded-xl
  }

  .brand svg {
    @apply w-52.5
  }



  /* Section One */
  .home-section-one {
    @apply py-20 px-0 w-full sm:h-760 lg:h-full
  }

  .h-container-1 {
    @apply w-full px-8 my-0 mx-auto
    /* h-840 */
  }

  .home-section-one--left {
    @apply mt-12 ml-12 sm:mt-0 sm:ml-0 lg:mt-12 lg:ml-12 
  }

  .home-section-one--left .testimonial {
    @apply relative top-0 left-0 sm:h-130
  }

  .testimonial .testimonial-backdrop {
    @apply w-125 h-850 bg-pink-600/25 -top-60 -left-80 sm:-top-212 sm:-left-58 lg:-top-60 lg:-left-80
  }

  .testimonial .testimonial-video-ctrl {
    @apply w-11 h-11 absolute top-8 right-214 z-3
  }

  .testimonial .testimonial-video-ctrl svg {
    @apply w-10 h-10 cursor-pointer
  }

  .testimonial .testimonial-quotes {
    @apply z-5 w-123 min-h-44 py-14.4 px-14.7 flex-col justify-between -bottom-10 -right-2.5 bg-white sm:left-0 sm:right-0 lg:-bottom-10 lg:-right-2.5 lg:left-auto
  }

  .testimonial .testimonial-quotes blockquote {
    @apply text-15xl/tighter font-medium text-gray-400
  }

  .testimonial .testimonial-quotes .testimonial-author {
    @apply flex justify-between 
  }

  .testimonial .testimonial-quotes .testimonial-author span {
    @apply text-15xl font-medium text-gray-500
  }

  .testimonial .testimonial-quotes .testimonial-author a {
    @apply text-blue-500 text-15xl font-semibold 
  }

  .testimonial-media img {
    @apply object-cover w-full h-full absolute top-0
  }

  .testimonials-thumbnail img {
    @apply h-full w-full object-cover absolute top-3 left-0 lg:top-3 lg:left-0 
  }

  .home-section-one--right h1 {
    @apply text-8xl font-semibold mt-15.5 mb-9 leading-to-tight text-dark-blue sm:mt-15.5 sm:text-7xl lg:text-16xl lg:font-semibold lg:-tracking-moretight lg:mt-17.5
  }

  .home-section-one--right h6 {
    @apply text-7xl font-normal mt-4 mb-13.5 text-dark-blue -tracking-tightest
  }
  




  /* Section Two */
  .home-section-two {
    @apply pt-24 pb-0 px-0 w-full
  }

  .h-container-2 {
    @apply h-full w-full px-0 my-0 mx-auto 
  }

  .home-section-two--left {
    @apply flex
  }
  
  .home-section-two--left h2 {
    @apply text-9xl/none font-bold leading-to-tight -tracking-moretight -ml-3.1 sm:text-7xl lg:text-16xl/none
  }

  .home-section-two--left h2 span {
    @apply text-9xl font-normal italic sm:font-light sm:text-7xl sm:-tracking-extratight lg:text-16xl
  }

  .home-section-two--left h5 {
    @apply text-5xl font-medium sm:pr-20 sm:my-14.4
  }

  .home-section-two--left a {
    @apply bg-blue-600 w-96 h-16 capitalize flex justify-center items-center text-white font-bold text-2xl rounded-lg
  }

  .home-section-two--right {
    @apply relative w-720
  }

  .home-section-two--right #graph-anim-wrap {
    @apply relative 
  }

  .home-section-two--right .card-wrap {
    @apply absolute w-100 min-h-44
  }

  .home-section-two--right .card-wrap .card-item {
    @apply bg-white w-full h-full pt-6.4 pb-14.4 px-14.4 rounded-lg border border-slate-200 shadow-md flex flex-col
  }

  .home-section-two .card-item-one {
    @apply z-20 bottom-32/2 -left-28/2
  }

  .home-section-two .card-item-two {
    @apply z-20 bottom-56/2 left-1/2
  }

  .home-section-two .card-item-three {
    @apply z-20 top-8/2 right-1/4
  }

  .card-item h6 {
    @apply text-17xl font-semibold -tracking-verytight
  }

  .card-item p {
    @apply text-15xl/very-loose font-normal mt-3.2 text-slate-500
  }

  .home-section-two .card-item-one .card-item::after {
    @apply content-['1'] absolute top-0 -right-23 rounded-full text-dark-blue text-2xl font-bold bg-white shadow-md w-16 h-16 flex justify-center items-center
  }
  
  .home-section-two .card-item-two .card-item::after {
    @apply content-['2'] absolute top-0 -right-23 rounded-full text-dark-blue text-2xl font-bold bg-white shadow-md w-16 h-16 flex justify-center items-center
  }

  .home-section-two .card-item-three .card-item::after {
    @apply content-['3'] absolute top-0 -right-23 rounded-full text-dark-blue text-2xl font-bold bg-white shadow-md w-16 h-16 flex justify-center items-center
  }


  

  /* Section Three */
  .home-section-three {
    @apply pt-14.5 bg-return-invested bg-no-repeat
    /* bg-top-left h-screen */
  }

  .h-container-3 {
    @apply h-full w-full mx-auto my-0 px-7 
  }

  .home-section-three h2 {
    @apply text-7xl -tracking-tightened text-dark-blue font-bold text-center mt-20 mb-10
  }

  .roi-wrap {
    @apply flex flex-col items-center
  }

  .roi-wrap h6 {
    @apply mt-16.5 mb-7 text-4xl font-normal text-light-gray
  }

  .roi-input {
    @apply text-center flex flex-row items-center space-x-1
  }

  .roi-input sup {
    @apply text-[3em]/least text-dark-blue font-normal w-8 mr-29 
  }
  
  .roi-input input[type="tel"] {
    @apply text-12xl font-normal tracking-tightener font-firma text-dark-blue w-135 text-right py-4
  }

  .roi-dropdown-wrap {
    @apply flex justify-between w-96
  }

  .roi-dropdown-wrap .wrap-selection {
    @apply flex items-center space-x-2
  }

  .roi-dropdown-wrap .roi--select-input {
    @apply appearance-none text-3xl text-blue-600 font-normal
  }

  /* .roi-wrap .slider-wrap {
    @apply w-183 mx-auto
  } */

  .slider-wrap .slider {
    @apply relative w-183 mx-auto my-16
  }

  /* .slider .line {
    @apply absolute left-0 bottom-1 w-full 
  } */

  .slider-wrap .slider input[type="range"] {
    @apply w-full h-99.5
  }

  .roi-investment p {
    @apply flex justify-center items-center
  }
   
  .roi-investment p sup {
    @apply text-[3em]/least text-dark-blue font-normal w-8 mr-29 
  }
  
  .roi-investment p span {
    @apply text-12xl font-light tracking-tightener text-light-gray w-135 text-right py-4
  }

  .roi-investment-returns div {
    @apply text-2xl font-medium bg-sky-200 text-blue-600 w-123 mt-10 mx-auto py-3 px-4 rounded-md
  }

  .roi-investment-returns p {
    @apply text-2xl font-medium text-light-gray my-8
  }

  .roi-investment-returns span {
    @apply text-black
  }

  .roi-investments-overlay h3 {
    @apply text-18xl font-semibold text-light-gray -tracking-tightened text-gray-700 mt-15.7 mb-13.7 
  }






  /* Section four */
  .home-section-four .slider-wrapper {
      @apply mt-10 mb-0 mx-0 w-screen h-98 overflow-hidden relative
  }
  .h-container-4 {
    @apply h-full w-full px-7 mx-auto my-0
  }
  .home-section-four .slider-wrapper .slides-wrap {
      @apply w-22/12 flex absolute     
  }
  .home-section-four .slider-wrapper .slides {
      @apply inline-flex shrink-0
  }
  .home-section-four .slider-wrapper .slides .slider-item {
      @apply flex justify-center items-center mr-8 p-16 h-94 border border-blue-400 relative text-center max-w-3xl min-h-98 rounded-3xl
  }
  .home-section-four .slider-wrapper .slides .slider-item h4 {
      @apply font-semibold font-firma w-full relative text-left text-7xl/to-tight -tracking-extratight text-blue-600
  }
  .home-section-four .slider-wrapper .slides .slider-item h4::before {
      @apply content-["“"] absolute -top-60 left-0 text-9xl font-normal text-blue-600
  }
  /* Section four */
}